.header-top {
  background: #edf1ff !important;
}

.product-card {
  border: 1px #f0f0f0 solid !important;
}

.product-card-body {
  border-top: 1px #f0f0f0 solid !important;
  border-bottom: 1px #f0f0f0 solid !important;
}
// .img-fluid {
//   max-height: auto;
//   max-width: 100%;
// }

// .product-desc {
// }
